$color-green: #2ECC71;
$color-litegreen: #5EFCA1;
$color-gray: #354546;
$color-litegray: #D5E5E6;
$color-red: #D73C2C;
$color-litered: #F75C4C;
$color-purps: #8E44AD;
$color-litepurps: #AB69C6;
$color-blue: #1297E0;
$color-liteblue: #29C5FF;
$color-orange: #FB8C00;
$color-liteorange: #FFA726;
$color-yellow: #FFEB38;
$color-liteyellow: #FFF176;
$color-darkwhite: #EEEEEE;
$color-white: #FFF;
$color-dark: #212121;
$base-font-size: 12px;
$font-body: 'Cormorant Garamon', serif;
$font-link: 'Dancing Script', cursive;
$font-header: 'Quicksand', sans-serif;
$font-nav: 'Raleway', sans-serif;
$font-special: 'Consolas', 'courier-new';

